/* VARIABLES */

:root{
  --main-yellow-color : #FCB72B;
  --main-dark-navy-color : #495567;
  --main-dim-grey-color : #939CAA;
  --main-light-grey-color : #E5ECF4;
  --main-white-color : #ffffff;
  --main-snow-color : #F2F5F9;
  --main-light-yellow-color : #FFF4DF;
  --main-font-size : 48px;
  --main-font-weight : 700;
  --main-line-height : 25px;
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/space-mono-v11-latin-700.woff2") format("woff2"),
  url("../fonts/space-mono-v11-latin-700.woff") format("woff"); 
}
@font-face {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lexend-deca-v16-latin-regular.woff2") format("woff2"),
  url("../fonts/lexend-deca-v16-latin-regular.woff") format("woff"); 
}

/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}
a {
  text-decoration: none;
  display: inline-block;
}
body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lexend Deca", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  overflow-x: hidden;
  /* line-height: var(--main-line-height); */
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
/* STICKY-FOOTER */

/* header */
.header-inner {
  display: flex;
  align-items: center;
  padding: 22px 0;
} 
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0 0 0 58px;
  padding: 0;
}
.nav__list-item:not(:nth-child(1)){
  margin-left: 32px;
}
.nav__list-link {
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-dim-grey-color);
  transition: all 0.3s linear;
}
.nav__list-link:hover {
color: var(--main-yellow-color);
}
.btn {
  padding: 14px 39px;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 15px;
line-height: 25px;
color: var(--main-white-color);
background-color: var(--main-yellow-color);
margin-left: auto;
border: 3px solid #FCB72B;
transition: all 0.3s linear;
}
.btn:hover {
background-color: transparent;
color: var(--main-yellow-color);
}
/* header finish */

/* Islomxon */

/* hero-section-start */
.hero{
  background-image: url(../images/page1-bg1.jpg);
  background-position: center;
  background-size: cover;
  margin-bottom: 116px;
}
.hero__box{
  color: var(--main-white-color);
  padding: 152px 0px;
  position: relative;
}

.hero__box::after{
  position: absolute;
  width: 452px;
  height: 150px;
  top: 405px;
  right: -393px;
  background-image: url(../images/ooo.svg);
  background-repeat: no-repeat;
  content: "";
}
.hero__theme{
  margin: 0;
  margin-bottom: 40px;
  width: 500px;
  height: 112px;
  font-family: "Space Mono";
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  font-weight: 700;
}
.hero__minibox{
  margin: 40px;
}
.hero__commit{
  margin-bottom: 40px;
  width: 405px;
  height: 100px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
.hero__minibox::before{
  position: absolute;
  width: 203px;
  height: 15px;
  top: 333px;
  left: -205px;
  background-image: url(../images/page1-hero--.svg);
  content: "";
}
.hero__minibox::after{
  position: absolute;
  width: 452px;
  height: 150px;
  top: 333px;
  left: 540px;
  background-image: url(../images/page1-hero--2.svg);
  content: "";
}
/* hero-section-end */

/* info-section-start */
.info{
  position: relative;
  padding: 180px 0px;
  background-image: url("../images/Mask.png"),url("../images/Mask.png"),url("../images/Mask.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 824px) calc(50% + 125px),calc(50% + 835px) calc(50% + -515px),calc(50% + 830px) calc(50% + 908px);
}
.info__list{
  display: flex;
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.info__list::before{
  content: "";
  position: absolute;
  width: 1000px;
  height: 15px;
  top: -110px;
  left: -205px;
  background-image: url(../images/Page1-info-list-bg.svg);
}
.info__item{
  margin-right: 30px;
}


.info__list :nth-child(1)::before{
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: -150px;
  left: 35px;
  background-image: url(../images/page1-item2.svg);
}
.info__list :nth-child(2)::before{
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: -150px;
  left: 410px;
  background-image: url(../images/page1-item3.svg);
}
.info__list :nth-child(3)::before{
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  top: -150px;
  left: 795px;
  background-image: url(../images/page1-item1.svg);
}
.info__theme{
  color: var(--main-dark-navy-color);
  margin: 0;
  margin-bottom: 27px;
  width: 350px;
  height: 28px;
  font-family: "Space Mono";
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
  font-weight: 700;
}
.info_theme--2{
  width: 445px;
  height: 96px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14px;
  margin-bottom: 24px;
}
.info__commit{
  color: var(--main-dim-grey-color);
  width: 350px;
  height: 100px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
}
.info__commit--2{
  width: 445px;
  margin-bottom: 40px;
}
.info__list2{
  padding: 0;
  margin-top: 200px;
  list-style: none;
  position: relative;
}
.info__item2{
  margin-bottom: 385px;
}
.child2{
  margin-left: 640px;
}
.info__item2--2{
  margin-bottom: 0px;
}
.info__item2 :nth-child(1)::before{
  content: "";
  position: absolute;
  width: 445px;
  height: 445px;
  top: -60px;
  right: 0px;
  background-image: url(../images/page1-img1.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
}
.info__item2 :nth-child(2)::after{
  content: "";
  position: absolute;
  width: 445px;
  height: 445px;
  top: 600px;
  left: 0px;
  background-image: url(../images/page1-img2.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
  flex-direction: row-reverse;
}
.info__item2 :nth-child(3)::before{
  content: "";
  position: absolute;
  width: 445px;
  height: 445px;
  bottom: -60px;
  right: 0px;
  background-image: url(../images/page1-img3.jpg);
  background-repeat: no-repeat;
  border-radius: 50%;
}
.info__list2 :nth-child(1)::after{
  content: "";
  position: absolute;
  width: 735px;
  height: 150px;
  top: 235px;
  right: -150px;
  background-image: url(../images/page1-info--1.svg);
}
.info__list2 :nth-child(3)::after{
  content: "";
  position: absolute;
  width: 735px;
  height: 129px;
  bottom: 135px;
  right: -535px;
  background-image: url(../images/page1-info--3.svg);
}
.info__list2 :nth-child(2)::before{
  content: "";
  position: absolute;
  width: 745px;
  height: 150px;
  top: 625px;
  left: -555px;
  z-index: 2;
  background-image: url(../images/page1-info--2.svg);
}

/* info-section-end */
/* Islomxon finish */

/* Bunyod */
.banner {
  position: relative;
  padding: 72px 0;
  background-image: url("../images/banner-bg.png");
  background-repeat: no-repeat;
  background-size: cover;

}
.banner-title {
  margin: 0;
  font-family: 'Space Mono';
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
  color: var(--main-white-color);
}
.about {
  padding: 60px 0;
}
.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.card-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 60px 0;
}
.card-list__item:nth-child(2) {
  flex-direction: row-reverse;

}
.card-list__item:nth-child(2)::after {
display: none;
}
.card-list__item:nth-child(2)::before {
  content: "";
  width: 445px;
  height: 445px;
  position: absolute;
  left: -500px;
  top: 50px;
  background-image: url("../images/Mask.png");
  background-repeat: no-repeat;
  z-index: 1;
}
.card-list__item::after {
  content: "";
  width: 445px;
  height: 445px;
  position: absolute;
  right: -500px;
  top: 50px;
  background-image: url("../images/Mask.png");
  background-repeat: no-repeat;
  z-index: 1;
}
.contant {
  width: 445px;
}
.contant__title {
  margin: 0;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
color: var(--main-dark-navy-color);
}
.contant__text {
  margin: 24px 0 0 0;
  font-weight: 400;
font-size: 15px;
line-height: 25px;
color: var(--main-dim-grey-color);
}
.img {
  width: 445px;
  height: 445px;
  border-radius: 50%;
  background-image: url("../images/about-img-tuo.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
.img::after {
content: "";
width: 745px;
height: 149px;
position: absolute;
right: -186px;
top: 277px;
background-image: url("../images/about-arrow-right.svg");
background-repeat: no-repeat;
z-index: 2;


}
.card-list__item:nth-child(2) .img {
  background-image: url("../images/about-img-one.png");
}
.card-list__item:nth-child(2) .img::before {
  content: "";
  width: 745px;
  height: 149px;
  position: absolute;
  left: -554px;
  top: 60px;
  background-image: url("../images/about-arrow-left.svg");
  background-repeat: no-repeat;
  z-index: 2;
}
.card-list__item:nth-child(2) .img::after {
  display: none;
}

.our-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.our-list__item {
  width: 350px;
  padding: 40px 0 0 0;
}
.our-item:nth-child(2) .our-item__img {
  background-image: url("../images/our-img-tuo.png");
}
.our-item:nth-child(2) .our-item__img::after {
  background-image: url("../images/our-icon-tuo.svg");
}
.our-item:nth-child(3) .our-item__img {
  background-image: url("../images/our-img-one.png");
}
.our-item:nth-child(3) .our-item__img::after {
  background-image: url("../images/our-icon-three.svg");
}
.our-item__img {
  position: relative;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url("../images/our-img-three.png");
  background-repeat: no-repeat;
}
.our-item__img::after {
  content: "";
  width: 96px;
  height: 96px;
  position: absolute;
  left: 70px;
  bottom: -50px;
  background-image: url("../images/our-icon-one.svg");
  background-repeat: no-repeat;

}
.our-item-title {
  margin: 70px 0 27px  0;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: -1.07143px;
color:var(--main-dark-navy-color);
}
.our-item-text {
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: var(--main-dim-grey-color);

}
.faqs {
padding-bottom: 160px;
}
.faqs-title {
  margin: 120px 0 0 0;
  
  font-family: 'Space Mono';
font-weight: 700;
font-size: 48px;
line-height: 48px;
text-align: center;
letter-spacing: -2.14286px;
color: var(--main-dark-navy-color);
}
.works {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.works__title {
  margin: 0;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 40px;
line-height: 48px;
letter-spacing: -1.78571px;
color: var(--main-dark-navy-color);
}
.works__details {
  width: 730px;
  padding: 32px 40px;
  background-color: var(--main-snow-color);
  margin-bottom: 16px;
}
.works__details:nth-child(3) {
margin-bottom: 0;
}

.works__details[open] .works__summary img {
transform: rotate(180deg);
transition: all 0.3s linear;
}
.works__summary {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 24px;
line-height: 28px;
letter-spacing: -1.07143px;
color: var(--main-dark-navy-color);

}
.works__text {
  font-weight: 400;
font-size: 15px;
line-height: 25px;
color: var(--main-dark-navy-color);
}
/* Bunyod finish */

/* footer */

.site-footer-top {
  background-color: #495567;
  
  background-image: url("../images/footer-top-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 325px) calc(-100% + 90px);
}
.footer-top {
  padding: 102px 0;
display: flex;
align-items: center;
justify-content: space-between;

}
.footer-bottom {
  background-color:#333A44;
}
.footer-title {
  width: 415px;
  margin: 0;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;

color: var(--main-white-color);
}
.brand {
  width: 359px;
display: flex;
justify-content: space-between;
}
.appstore {
  width: 159px;
  height: 56px;
background-image: url("../images/appstore.png");
}
.googleplay {
  width: 182px;
  height: 56px;
background-image: url("../images/googleplay.png");
}
.footer-inner {
  padding: 36px 0;
  display: flex;
  align-items: center;
}
.icon-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 120px;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 0 auto;
}
.icon-list__link svg path {
transition: all 0.3s linear;
}
.icon-list__link:hover svg path {
fill: var(--main-white-color);

}
.our-values-inner__title {
  margin: 0;
  font-family: 'Space Mono';
font-weight: 700;
font-size: 48px;
line-height: 48px;
text-align: center;
letter-spacing: -2.14286px;
color: var(--main-dark-navy-color);
}
/* footer finish */



